@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F5EC;
  color: #3E2C23;
  font-family: 'Inter', sans-serif;
  @apply bg-kremowy dark:bg-ciemnyBraz transition-colors duration-500;
  background-image: radial-gradient(circle at 25% 25%, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.03) 100%),
                    linear-gradient(0deg, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.05) 100%);
  background-blend-mode: multiply;
  background-size: 800px 800px;
}

  .dark body {
  background-image: radial-gradient(circle at 25% 25%, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0.05) 100%),
                    linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.05) 100%);
  background-blend-mode: soft-light;
}